---
import BaseLayout from "@/layouts/BaseLayout.astro";
import DetailPageLayout from "@/layouts/DetailPageLayout.astro";
import FadeInText from "@/components/page/FadeInText.svelte";
---

<BaseLayout>
  <DetailPageLayout>
    <section>
      <div class="uppercase h-screen w-full grid place-items-center">
        <FadeInText client:only id="h1">
          <h1 class="text-9xl font-space font-semibold tracking-tighter">
            About Me
          </h1>
        </FadeInText>
      </div>
    </section>

    <section id="intro">
      Hi, I am a <span class="text-gradient">full stack developer</span> with a passion
      for building web applications that are both<span class="italic"
        >functional and beautiful</span
      >. I love solving problems and learning about new technologies.
    </section>
  </DetailPageLayout>
</BaseLayout>
