---
import { ExternalLink, Images } from "@lucide/astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import DetailPageLayout from "@/layouts/DetailPageLayout.astro";
import FadeInText from "@/components/page/FadeInText.svelte";
import PushButton from "@/components/page/PushButton.svelte";
import StyleLink from "@/components/page/StyleLink.svelte";
---

<BaseLayout>
  <DetailPageLayout>
    <section>
      <div class="uppercase h-screen w-full grid place-items-center">
        <FadeInText client:only id="h1">
          <h1 class="text-9xl font-space font-semibold tracking-tighter">
            About Me
          </h1>
        </FadeInText>
      </div>
    </section>

    <section id="intro">
      Hi, I am a <span class="text-gradient">full stack developer</span> with a passion
      for building web applications that are both<span class="italic"
        >functional and beautiful</span
      >. I love solving problems and learning about new technologies.
    </section>
    <section id="education">
      <FadeInText onScroll client:only="svelte" id="education">
        <div class="flex gap-2.5 mt-52 items-center">
          <h2
            class="uppercase text-7xl font-space font-semibold tracking-tighter"
          >
            Education
          </h2>
          <PushButton client:load id="intro">
            <Images class="size-7" />
          </PushButton>
        </div>
      </FadeInText>
      <p>
        I am a student of <StyleLink client:load href="https://dtu.ac.in">
          <span>
            Delhi Technological University<ExternalLink
              class="inline-block ml-1.5 text-green-500 size-4"
            />
          </span>
        </StyleLink>
      </p>
      pursuing a bachelor's degree in <span class="text-gradient"
        >Information Technology</span
      >. I have also completed various online courses in artificial
      intelligence, web development and software engineering.
    </section>
  </DetailPageLayout>
</BaseLayout>
