---
import { ExternalLink } from "@lucide/astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import DetailPageLayout from "@/layouts/DetailPageLayout.astro";
import FadeInText from "@/components/page/FadeInText.svelte";
import StyleLink from "@/components/page/StyleLink.svelte";
import FadeSection from "@/components/page/FadeSection.astro";
import ScrollDownIndicator from "@/components/page/ScrollDownIndicator.svelte";
import BottomNav from "@/components/navbar/BottomNav.astro";
---

<BaseLayout>
  <DetailPageLayout>
    <section>
      <div class="uppercase h-screen w-full grid place-items-center">
        <FadeInText client:only id="h1">
          <h1
            class="text-6xl sm:text-9xl font-space font-semibold tracking-tighter"
          >
            About Me
          </h1>
        </FadeInText>
        <div class="absolute bottom-7 right-5">
          <ScrollDownIndicator client:only />
        </div>
      </div>
    </section>

    <FadeSection id="intro">
      Hi, I am a <span class="text-gradient">full stack developer</span> with a passion
      for building web applications that are both <span class="italic"
        >functional and beautiful</span
      >. I love solving problems and learning about new technologies.
    </FadeSection>
    <FadeSection
      id="education"
      title="Education"
      images={{
        title: "My institution",
        items: [
          { src: "/dtu.jpeg", alt: "Image of DTU" },
          { src: "/hall.jpg", alt: "Image of Raj Soin Hall" },
        ],
      }}
    >
      {
        /* FIX: if we use client:load, then the link does not come
            at correct place on fresh page load.
            Also, on opening the modal, the link position is spoiled
         */
      }
      I am a student of <StyleLink client:only href="https://dtu.ac.in">
        <span>
          Delhi Technological University<ExternalLink
            class="inline-block ml-1.5 text-green-500 size-4"
          />
        </span>
      </StyleLink>
      pursuing a bachelor's degree in <span class="text-gradient"
        >Information Technology</span
      >. I have also completed various online courses in artificial
      intelligence, web development and software engineering.
    </FadeSection>
    <FadeSection
      id="experience"
      title="Experience"
      images={{
        title: "Some hackathons",
        items: [
          { src: "/iitr.jpg", alt: "Image of IITR" },
          { src: "/iitr2.jpg", alt: "Another image of IITR" },
        ],
      }}
    >
      I have participated in various <StyleLink
        client:only
        href="https://devfolio.co/@Manikya_Sharma"
      >
        <span>
          hacakthons<ExternalLink
            class="inline-block ml-1.5 text-green-500 size-4"
          />
        </span>
      </StyleLink> and have worked on a variety of projects. I have experience with
      several <span class="text-gradient"
        >programming languages and frameworks
      </span>including Python, JavaScript, TypeScript, ReactJS, NextJs Node.js
      etc.
    </FadeSection>
    <FadeSection
      id="interests"
      title="interests"
      images={{
        title: "Travelling",
        items: [
          { src: "/peacock.jpg", alt: "peacock" },
          { src: "ducks.jpg", alt: "Ducks" },
        ],
      }}
    >
      In my free time, I <span class="text-gradient">enjoy reading</span>, and
      learning about new technologies and <span class="text-gradient"
        >programming languages</span
      >. I also enjoy traveling and exploring new places. I am always looking
      for new opportunities to learn and grow as a developer.
    </FadeSection>
  </DetailPageLayout>
  <BottomNav
    prev={{ href: "/contact", name: "Socials" }}
    next={{ href: "/skills", name: "Skills" }}
  />
</BaseLayout>
