---
// TODO: Create go to main content for tabbing
import {
  Bird,
  BrainCircuit,
  Code,
  Cpu,
  FilePenLine,
  Globe,
  GraduationCap,
  Heart,
  Menu,
  Pen,
  Shirt,
  Terminal,
  Wand,
  X,
} from "@lucide/astro";
import HamburgerSvelte from "./Hamburger.svelte";
import FlippingText from "./FlippingText.svelte";

const options = {
  about: [
    {
      icon: Pen,
      text: "Intro",
      href: "#intro",
    },
    {
      icon: GraduationCap,
      text: "Education",
      href: "#education",
    },
    {
      icon: Code,
      text: "Experience",
      href: "#experience",
    },
    {
      icon: Heart,
      text: "Interests",
      href: "#interests",
    },
  ],
  skills: [
    {
      icon: Pen,
      text: "Intro",
      href: "#intro",
    },
    {
      icon: Globe,
      text: "Web Dev",
      href: "#web",
    },
    {
      icon: BrainCircuit,
      text: "ML",
      href: "#ml",
    },
    {
      icon: Cpu,
      text: "Development",
      href: "#se",
    },
    {
      icon: Code,
      text: "CP",
      href: "#cp",
    },
  ],
  projects: [
    {
      icon: Wand,
      text: "Storyphilia",
      href: "#storyphilia",
    },
    {
      icon: Shirt,
      text: "Fashion AI",
      href: "#fashion-ai",
    },
    {
      icon: Bird,
      text: "Flappy Bird",
      href: "#flappy-bird",
    },
    {
      icon: Terminal,
      text: "Todo CLI",
      href: "#todo-cli",
    },
    {
      icon: FilePenLine,
      text: "Mini VIM",
      href: "#mini-vim",
    },
  ],
};

interface Props {
  pathname: string;
}

const { pathname } = Astro.props;
const pathParts = pathname
  .split("/")
  .filter((elem) => elem.trim().length !== 0);
const lastPath = pathParts[pathParts.length - 1];

let selectedOptions: null | (typeof options)[keyof typeof options];

if (Object.keys(options).includes(lastPath)) {
  selectedOptions = options[lastPath as keyof typeof options];
} else {
  selectedOptions = null;
}
---

{
  selectedOptions && (
    <HamburgerSvelte length={selectedOptions.length} client:load>
      <Menu aria-haspopup="true" slot="open" class="size-5 sm:size-6" />
      <X slot="close" class="size-5 sm:size-6" />
      <ul slot="options">
        {selectedOptions.map((option) => (
          <li class="py-2">
            <a href={option.href} class="w-full">
              <FlippingText client:load id={option.text.split(" ").join("-")}>
                <span class="font-electrolize sm:text-lg flex gap-2 items-center">
                  <option.icon class="size-4" /> {option.text}
                </span>
              </FlippingText>
            </a>
          </li>
        ))}
      </ul>
    </HamburgerSvelte>
  )
}
