---
// TODO: Create go to main content for tabbing
// TODO: Close the menu when user clicks on another target
import { Code, GraduationCap, Heart, Menu, Pen, X } from "@lucide/astro";
import HamburgerSvelte from "./Hamburger.svelte";
import FlippingText from "./FlippingText.svelte";
const options = [
  {
    icon: Pen,
    text: "Intro",
    href: "#intro",
  },
  {
    icon: GraduationCap,
    text: "Education",
    href: "#education",
  },
  {
    icon: Code,
    text: "Experience",
    href: "#experience",
  },
  {
    icon: Heart,
    text: "Interests",
    href: "#interests",
  },
];
---

<HamburgerSvelte length={options.length} client:load>
  <Menu slot="open" class="size-5 sm:size-6" />
  <X slot="close" class="size-5 sm:size-6" />
  <ul slot="options">
    {
      options.map((option) => (
        <li class="py-2">
          <FlippingText
            className="font-electrolize sm:text-lg flex gap-2 items-center"
            href={option.href}
            client:load
            id={option.text}
          >
            <option.icon class="size-4" /> {option.text}
          </FlippingText>
        </li>
      ))
    }
  </ul>
</HamburgerSvelte>
