---
// TODO: Create go to main content for tabbing
import {
  BrainCircuit,
  Code,
  Cpu,
  Globe,
  GraduationCap,
  Heart,
  Menu,
  Pen,
  X,
} from "@lucide/astro";
import HamburgerSvelte from "./Hamburger.svelte";
import FlippingText from "./FlippingText.svelte";

const options = {
  about: [
    {
      icon: Pen,
      text: "Intro",
      href: "#intro",
    },
    {
      icon: GraduationCap,
      text: "Education",
      href: "#education",
    },
    {
      icon: Code,
      text: "Experience",
      href: "#experience",
    },
    {
      icon: Heart,
      text: "Interests",
      href: "#interests",
    },
  ],
  skills: [
    {
      icon: Pen,
      text: "Intro",
      href: "#intro",
    },
    {
      icon: Globe,
      text: "Web Dev",
      href: "#web",
    },
    {
      icon: BrainCircuit,
      text: "ML",
      href: "#ml",
    },
    {
      icon: Cpu,
      text: "Development",
      href: "#se",
    },
    {
      icon: Code,
      text: "CP",
      href: "#cp",
    },
  ],
};

interface Props {
  pathname: string;
}

const { pathname } = Astro.props;
const pathParts = pathname
  .split("/")
  .filter((elem) => elem.trim().length !== 0);
const lastPath = pathParts[pathParts.length - 1];

let selectedOptions: null | (typeof options)[keyof typeof options];

if (Object.keys(options).includes(lastPath)) {
  selectedOptions = options[lastPath as keyof typeof options];
} else {
  selectedOptions = null;
}
---

{
  selectedOptions && (
    <HamburgerSvelte length={selectedOptions.length} client:load>
      <Menu aria-haspopup="true" slot="open" class="size-5 sm:size-6" />
      <X slot="close" class="size-5 sm:size-6" />
      <ul slot="options">
        {selectedOptions.map((option) => (
          <li class="py-2">
            <FlippingText
              className="font-electrolize sm:text-lg flex gap-2 items-center"
              href={option.href}
              client:load
              id={option.text.split(" ").join("-")}
            >
              <option.icon class="size-4" /> {option.text}
            </FlippingText>
          </li>
        ))}
      </ul>
    </HamburgerSvelte>
  )
}
