---
import Breadcrumbs from "./Breadcrumbs.astro";
import ContactsBar from "./ContactsBar.astro";
import Hamburger from "./Hamburger.astro";
import ScrollShorten from "./ScrollShorten.svelte";
const pathname = Astro.url.pathname;
---

<ScrollShorten client:load>
  <nav class="font-fira px-7 py-5 text-white flex items-center justify-between">
    <Breadcrumbs pathname={pathname} />
    {pathname == "/" ? <ContactsBar /> : <Hamburger />}
  </nav>
</ScrollShorten>
