@import "tailwindcss";

@plugin "daisyui" {
	themes: cupcake, forest, nord, lofi --default;
	logs: false;
}

@plugin "./themes/catpuccin.latte.ts";
@plugin "./themes/catpuccin.mocha.ts";

@theme inline {
	--font-fira: var(--font-fira), monospace;
	--font-electrolize: var(--font-electrolize), sans-serif;
	--font-space: var(--font-space), sans-serif;
	--font-figtree: var(--font-figtree), sans-serif;
}

.bg-gradient {
	@apply bg-linear-to-r from-accent-content to-base-content;
}

.text-gradient {
	@apply bg-linear-to-r from-accent to-base-content inline text-transparent bg-clip-text;
}

/* FIX: Is this the best way to implement smooth scroll?  */
html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
