@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-fira: 'Fira Code Variable', monospace;
    --font-electrolize: 'Electrolize', sans-serif;
    --font-space: 'Space Grotesk Variable', sans-serif;
}
