---
import "@/globals.css";
import "@fontsource-variable/fira-code";
import "@fontsource/electrolize";
import '@fontsource-variable/space-grotesk';
import Navbar from "@/components/navbar/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Manikya Sharma</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Navbar />
    <div class="grow flex bg-white text-black">
      <slot />
    </div>
  </body>
</html>
