---
import "@/globals.css";
import "@fontsource-variable/fira-code";
import "@fontsource/electrolize";
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/figtree";
import Navbar from "@/components/navbar/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="This is the portfolio website of Manikya Sharma, an IT Engineer from Delhi Technological University, India"
    />
    <title>Manikya Sharma</title>
  </head>
  <body class="min-h-screen flex flex-col bg-white text-black">
    <!-- top element to capture is scroll is at top -->
    <div id="top-element" role="presentation" class="absolute top-0 left-0">
    </div>
    <Navbar />
    <div class="grow">
      <slot />
    </div>
  </body>
</html>
